<h1><%=@post[:name]%></h1>
<p><%=@post[:content]%></p>
<a href= '/posts/<%=@post.id%>/edit'> EDIT</a>

<form action='/posts/<%=@post.id%>/delete' method = 'post'>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
